[submodule "lib/scode"]
	path = lib/scode
	url = git@github.com:ttocsneb/scode.git
[submodule "lib/Adafruit_BusIO"]
	path = lib/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
[submodule "lib/Adafruit_MS8607"]
	path = lib/Adafruit_MS8607
	url = https://github.com/adafruit/Adafruit_MS8607.git
[submodule "lib/Adafruit_SI1145_Library"]
	path = lib/Adafruit_SI1145_Library
	url = https://github.com/adafruit/Adafruit_SI1145_Library.git
[submodule "lib/Adafruit_Sensor"]
	path = lib/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
